
*{
    margin:0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(128, 81, 182);
}
header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background:rgba(29, 25, 25, 0.034);
}
header div{
    text-align: center;
}
header div a{
    color: rgb(191, 179, 243);
    font-size: 30px;
    padding-top: 60px;
    text-decoration: none;
}
header div a:hover{
    color: rgba(191, 179, 243,0.5);
}
.center_custon {
    display: flex;
    justify-content: center;
}