<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu site pessoal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
</head>

<body>
    <header>
        <div>
            <a href="#">principal</a>
            <a href="#"> menos principal</a>
        </div>
    </header>
    <main>
        <img src="./couch-1.1s-203px.svg" alt="">
        <img src="./html-1.1s-47px.svg" alt="">
        

        <a target="_blank" href="https://math.stackexchange.com/">
            <img src="./html-1.1s-47px(1).svg" alt="">
        </a>
       
    </main>
    <footer>
        roda pé
    </footer>
</body>
</html>