{% extends "layout.html" %}

{% block menu %}
    <div>
        <a href="#">principal</a>
        <a href="#">menos principal</a>
    </div>
{% endblock %}


{% block corpo %}
<div class="container">
  <div class="row center_custon">
          {%for receita in receitas%}
            <div class="card p-1" style="width: 18rem;">
                <img class="card-img-top" src="{{ receitathumbnail }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ receitatitle }}</h5>
                  <p class="card-text">{{ receitaingredients }}</p>
                  <a href="{{ receitahref }}" class="btn btn-primary">{{ receitatitle }}</a>
                </div>
              </div>
          {%endfor%}
        </div>
        </div>
{% endblock %}