{% extends "layout.html" %}

{% block menu %}
    <div>
        <a href="#">principal</a>
        <a href="#">menos principal</a>
    </div>
{% endblock %}


{% block corpo %}
    <img src="{{ url_for('static', filename=imagem1) }}" alt="">
    <img src="{{ url_for('static', filename=imagem2) }}" alt="" width="47px" height="47px">
            
    <a target="_blank" href="https://math.stackexchange.com/">
        <img src="{{ url_for('static', filename=imagem1) }}" alt="">
    </a>
{% endblock %}